.clip{
    width: 500px;
    height: 250px;
    clip-path: polygon( -3% 50%,
        10% 35%, 
        10% 10%,
        11% 5%,
        12% 3%,
        13% 2%,
        14% 1%,
    
        15% 0%,
        100% 0%,
        100% 100%,
        15% 100%,
    
        12.5% 98%,
        11.5% 95%,
    
    
        10% 90%,
    10% 65%,
    );
}    

